html,
body,
#root,
.App,
.Main {
  min-height: 100vh;
  font-size: 16px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  color: white;
  background-color: #1D1F28;
}

h2 {
  font-size: 1.1rem;
  font-weight: normal;
}

hr {
  border-color: #344050;
  margin: 45px 0;
}



.btn,
.form-control,
.input-group-text {
  border-radius: 1px;
}

.btn-primary {
  background-color: #0067EF;
  border-color: #0067EF;
}

#loading {
  opacity: 0.5;
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-secondary {
  background-color: #344050;
  border-color: #344050;
}

.continue.btn {
  text-transform: uppercase;
}

.navbar {
  height: 70px;
  padding: 5px 20px;
  background-color: #171920;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.5);
}

.navbar-container {
  width: 100%;
  min-width: 1300px;
  color: #0067EF;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-brand img {
  width: 100%;
  max-width: 360px;
}

.clickable {
  cursor: pointer;
}

.unit-changer .input-group {
  max-width: 100px;
}

.custom-select {
  border-radius: 0;
}

.image-panel {
  padding: 15px;
  padding-top: 120px;
}

.image-panel__header {
  height: 50px;
}

.side-panel {
  width: 610px;
  padding-top: 120px;
  background: rgb(23,25,33);
  background: linear-gradient(90deg, rgba(23,25,33,1) 0%, rgba(14,15,19,1) 100%);
}

.side-panel__content {
  width: 403px;
  position: relative;
}

.side-panel__entry {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-box {
  height: 402px;
  background-color: #171920;
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,.28);
}

.canvaspane {
  display: inline-block;
}

.parameter-box {
  background-color: #212533;
  border: 1px solid #344050;
  color: #8495AD;
  font-size: .9rem;
  padding: 15px 19px;
}

.disparity-maps {
  max-width: 1050px;
}

.disparity-map {
  background: #D8D8D8;
}

.disparity-map.active {
  background: rgba(0,103,239,1);
}

.disparity-map img{
  max-width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.disparity-map img:hover{
  box-shadow: 0px 0px 4px 3px rgba(0,103,239,.75);
  opacity: .75;
}

/* Loading screen */
.loading {
  background-color: rgba(0,0,0,.75);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1200;
}

.arc {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border-top-color: transparent;
  animation: rotate 2s infinite linear ;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -30px;
}

.innerarc {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border-bottom-color: transparent;
  animation: rotate 2s infinite reverse linear;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -35px;
  margin-left: -35px;
}

.loading-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: 60px;
  text-align: center;
  font-size: 1.25rem;
}



@keyframes rotate {
  0%    { transform: rotate(0deg);  }
  100%  { transform: rotate(360deg);  }
}


/* Animations */
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: all 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: all 300ms;
}


.slide-enter {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.slide-enter-active {
    animation: slide-in 1s forwards;
    -webkit-animation: slide-in 1s forwards;
}

.slide-exit {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

.slide-exit-active {
    animation: slide-out 1s forwards;
    -webkit-animation: slide-out 1s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(100%); }
}

.fadeSlide-enter {
  opacity: 0.01;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.fadeSlide-enter-active {
  opacity: 1;
  transition: all 300ms;
  animation: slide-in 300ms forwards;
  -webkit-animation: slide-in 300ms forwards;
}

.fadeSlide-exit {
  opacity: 1;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

.fadeSlide-exit-active {
  opacity: 0.01;
  transition: all 300ms;
  animation: slide-out 300ms forwards;
  -webkit-animation: slide-out 300ms forwards;
}

/* Icons */

.redo-circle-svg {
  width: 2rem;
  margin-right: .75rem;
}
.continue.btn img { 
  height: .5rem;
}