canvas {
    display: inline-block;
  }

header > h2 {
    text-align: left;
  }

.container {
  margin: auto;
}

.canvases {
  margin: 15px;
}

span {
  margin: 15px;
}

span > input {
  margin: 15px;
}
